<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="IDRCMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="IDRC.DataraceReason">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="IDRCMarkerResolution"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="idrc.marker.IDRCMarkerResolutionGenerator"
            markerType="IDRC.IDRCMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="IDRC.StartCommand"
               icon="icons/sun.png"
               label="Start IDRC"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="IDRC.StopCommand"
               icon="icons/moon.png"
               label="Stop IDRC"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="StartIDRCHandler"
            commandId="IDRC.StartCommand">
      </handler>
      <handler
            class="StopIDRCHandler"
            commandId="IDRC.StopCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="compilation.IDRCCompilationParticipant"
            createsProblems="false"
            id="IDRC.IDRCcompilationParticipant"
            modifiesEnvironment="false"
            requiredSourceLevel="1.5">
      </compilationParticipant>
   </extension>
</plugin>
